$font-size:18px;


// Header
// -----

$header-color:rgba(255,255,255,0.8);
$header-font-color:#fff;

// Grid
// -----

$page-width: 940px;
$column-count: 12;
$column-gutter: 20px;
$responsive-breakpoint: 767px;
$mobile-padding: 15px; // Distance from content to edge of screen on mobile
$tablet-padding: 20px; // Distance from content to edge of screen on tablet


// Forms
// -----

$form-input-gutter: 20px;
