#content, .landing {
    margin: 0;
    height: 100%;
    min-height: 100%;
}


.splash {
    position: relative;
    height: 100%;
	@include full-background-image("../images/cafe.jpg");



    .logo {

        height: 400px;
        width: 400px;
        @include border-radius(200px);
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -200px;
        margin-top: -200px;

        background: {
            image: url('../images/logo.png');
            position: 50% 50%;
            color: rgba(0,0,0,0.9);
            repeat: no-repeat;
        } 
    }
}


.container {
    margin: 3em auto 5em auto;
}

.full-image {
    width: 100%;
}

