@mixin full-background-image($url) { 
  background: url($url) no-repeat center center fixed; 
  @include background-size(cover);
}


// ! Clearfix
// https://github.com/cbrauckmuller/helium/blob/master/scss/utilities.scss
// ----------

@mixin clearfix {
    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
    zoom:1;
}

.clearfix {
	@include clearfix();
}

// ! Responsive helper variables
// https://github.com/cbrauckmuller/helium/blob/master/scss/utilities.scss
// -----------------------------

$devices: mobile, mobile-tablet, tablet, tablet-desktop, desktop;
$mobile-end: $responsive-breakpoint;
$tablet-start: $mobile-end + 1;
$tablet-end: $page-width + ($column-gutter * 2);
$desktop-start: $tablet-end + 1;

// ! Respond to device mixins
// https://github.com/cbrauckmuller/helium/blob/master/scss/utilities.scss
// --------------------------

@mixin respond-to($device) {

    @if $device == "desktop" {
        @media screen and (min-width: $desktop-start) { @content }
    }

    @if $device == "tablet-desktop" {
        @media screen and (min-width: $tablet-start) { @content }
    }

    @if $device == "tablet" {
        @media screen and (min-width: $tablet-start) and (max-width: $tablet-end) { @content }
    }

    @if $device == "mobile-tablet" {
        @media screen and (max-width: $tablet-end) { @content }
    }

    @if $device == "mobile" {
        @media screen and (max-width: $mobile-end) { @content }
    }
}


// ! Text alignment

.center { text-align:center; }
.right { text-align:right; }
.left { text-align:left; }
